.users-item {
    position: relative;
    width: 400px;
    background-color: rgb(117, 117, 247);
    color: white;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-item { 
    position: relative;
    width: 400px;
    background-color: rgb(117, 117, 247);
    color: white;
    padding: 20px 10px;
    padding-top: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.comment-item {
    position: relative;
    width: 400px;
    background-color: rgb(117, 117, 247);
    color: white;
    padding: 20px 10px;
    padding-top: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-title {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    background: #333;
    border-radius: 5px;
}

.user-id {
    position: absolute;
    top: -50px;
    right: 10px;
    font-size: 160px;
    margin: 0;
    opacity: .8;
}

.post-id {
    position: absolute;
    top: -60px;
    right: 10px;
    font-size: 160px;
    margin: 0;
    opacity: .8;
}


.user-text {
    font-size: 30px;
}

.gmail-link {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

.gmail-link::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("./icons/icons8-gmail-48.png");
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.address-text {
    font-size: 30px;
}

.link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff8;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.map-link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./icons/icons8-карты-гугл-24.png");
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.num-link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./icons/icons8-телефон-50.png");
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.comp-link {
    margin-top: 20px;
}

.comp-link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./icons/icons8-компания-клиент-50.png");
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.company-text {
    font-size: 30px;
    margin-top: 10px;
}

.company-title {
    font-size: 20px;
}

.company-info{ 
    margin-bottom: 0;
}

.company-info2 {
    margin: 0;
    margin-bottom: 20px;
}

.js-btn {
    display: block;
    margin-left: auto;
}

.post-title {
    width: 350px;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
}

.comment-title {
    width: 350px;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
}